{% extends "base.html" %}

{% load static %}

{% block title %}Декоративные пленки{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/view_sun_secutity_decor_film.css' %}">
{% endblock %}

{% block content %}
    <h2>Все о декоративных пленках</h2>
    <p>Декоративные пленки добавляют стиль и уединение в ваш интерьер. Они используются для создания эффектных дизайнов и защиты от любопытных взглядов.</p>

    <h2 class="mt-4">Доступные декоративные пленки</h2>
    <div class="row">
        {% for film in decoration_films %}
            {% include "partials/product_card.html" with product=film %}
        {% empty %}
            <div class="col-12">
                <p class="alert alert-warning">Нет доступных декоративных пленок.</p>
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'shop_app:home' %}" class="btn btn-secondary mt-4">На главную</a>

{% endblock %}






