<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
    <h1>Вход</h1>
    
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>  <!-- Показываем сообщение об ошибке -->
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
    </form>
    <a href="{% url 'users:login' %}">Нет аккаунта? Зарегистрируйтесь</a>
</body>
</html>


